@media (max-width: 1300px) {
  .travel_think{
    padding-right: 35px;
  }
  .aling_from_left{
    padding-left: 50px;
    padding-right: 50px;
  }
  .change_text{
    font-size: 26px;
  }
  .fotter_alignment{
    padding-right: 45px;
  }
  #hero-carousel .carousel-item {
    background-size: cover !important;
  }
  .font_for_heading{
    font-size: 34px;
  }
  .font_for_text{
    font-size: 30px;
  }
  .btn_for_contact{
    font-size: 16px;

  }
}




@media (max-width: 1120px) {
  .travel_think{
    padding-right: 35px;
  }
  .aling_from_left{
    padding-left: 50px;
    padding-right: 50px;
  }
  .change_text{
    font-size: 26px;
  }
  .fotter_alignment{
    padding-right: 45px;
  }
  #hero-carousel .carousel-item {
    background-size: cover !important;
  }
  .font_for_heading{
    font-size: 20px;
  }
  .font_for_text{
    font-size: 22px;
  }
  .btn_for_contact{
    font-size: 14px;

  }
}



@media (max-width: 992px) {
  .travel_think{
    padding-right: 35px;
  }
  
  .top_destination_desc{

    padding-left: 10px;
    padding-right: 10px;
  }
  .change_text{
    font-size: 20px;
  }
  .fotter_alignment{
    padding-right: 40px;
  }
  #hero-carousel .carousel-item {
    background-size: cover !important;
  }
  .font_for_heading{
    font-size: 16px;
  }
  .font_for_text{
    font-size: 18px;
  }
  .btn_for_contact{
    font-size: 12px;

  }


}




@media (max-width: 768px) {
  .travel_think{
    padding-right: 16px;
  }
  
  .top_destination_desc{

    padding-left: 10px;
    padding-right: 10px;
  }
  .change_text{
    font-size: 16px;
  }
  .fotter_alignment{
    padding-right: 26px;
  }
  #hero-carousel .carousel-item {
    background-size: cover !important;
  }
  .font_for_heading{
    font-size: 14px;
  }
  .font_for_text{
    font-size: 14px;
  }
  .btn_for_contact{
    font-size: 10px;

  }

}




@media (max-width: 576px) {
  .travel_think{
    padding-right: 10px;
    padding-left: 12px;
  }

  .top_destination_desc{

    padding-left: 10px;
    padding-right: 10px;
  }
  .change_text{
    font-size: 16px;
  }
  .fotter_alignment{
    padding-right: 20px;
  }
  #hero-carousel .carousel-item {
    background-size: cover !important;
  }
  .font_for_heading{
    font-size: 10px;
  }
  .font_for_text{
    font-size: 10px;
  }
  .btn_for_contact{
    font-size: 9px;

  }

  }


 

@media (max-width: 480px) {
  .travel_think{
    padding-right: 12px;
    padding-left: 12px;
  }
  
  .top_destination_desc{

    padding-left: 10px;
    padding-right: 10px;
  }
  .change_text{
    font-size: 15px;
  }
  .fotter_alignment{
    padding-right: 20px;
  }
  #hero-carousel .carousel-item {
    background-size: cover !important;
  }
  .font_for_heading{
    font-size: 10px;
  }
  .font_for_text{
    font-size: 40px;
  }
  .btn_for_contact{
    font-size: 9px;

  }


}



@media (max-width: 420px) {
  .travel_think{
    padding-right: 12px;
    padding-left: 12px;
  }
  
  .top_destination_desc{

    padding-left: 10px;
    padding-right: 10px;
  }
  .change_text{
    font-size: 15px;
  }
  .fotter_alignment{
    padding-right: 20px;
  }
  #hero-carousel .carousel-item {
    background-size: cover !important;
  }
  .font_for_heading{
    font-size: 10px;
  }
  .font_for_text{
    font-size: 10px;
  }
  .btn_for_contact{
    font-size: 9px;

  }



}




@media (max-width: 376px) {
  .travel_think{
    padding-right: 12px;
    padding-left: 12px;
  }
  
  .top_destination_desc{

    padding-left: 10px;
    padding-right: 10px;
  }
  .change_text{
    font-size: 15px;
  }
  .fotter_alignment{
    padding-right: 25px;
  }
  #hero-carousel .carousel-item {
    background-size: cover !important;
  }
  .font_for_heading{
    font-size: 10px;
  }
  .font_for_text{
    font-size: 8px;
  }
  .btn_for_contact{
    font-size: 9px;

  }


}




@media (min-width: 1200px) {
  .travel_think{
    padding-right: 32px;
  }
  
  .top_destination_desc{

    padding-left: 10px;
    padding-right: 10px;
  }
  .aling_from_left{
    padding-left: 50px;
    padding-right: 50px;
  }
  .change_text{
    font-size: 22px;
  }
  .fotter_alignment{
    padding-right: 45px;
  }
  #hero-carousel .carousel-item {
    background-size: cover !important;
  }
  .font_for_heading{
    font-size: 32px;
  }
  .font_for_text{
    font-size: 28px;
  }
  .btn_for_contact{
    font-size: 12px;

  }



 
}